$color:#fff;
$bcolor:blue;
$rcolor:rgb(148, 148, 148);
@mixin border {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    padding: 10px;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    background-color: $rcolor;
    margin-top: 20px;
}

.Anime {
    color: $color;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

video {
    width: 300px;
    height: 400px;
}

.anime_1 {
    @include border()
}