.Redux_1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.in1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    color: black;
    min-height: 250px;
    background-color: rgb(148, 148, 148);
}

img {
    border-radius: 10px;
}