.Vidio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Vidio video {
    width: 300px;
    border-radius: 15px;
    border: none;
    height: 200px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(148, 148, 148);
}